@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Rajdhani:wght@300;500&family=Roboto:wght@100;300;400&family=Tangerine:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: aqua;
}

.quote-box {
    background: #fff;
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.quote-box h1 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.quote-box h1::after {
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124, 229);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.quote-box p,
span {
    font-size: 26px;
    min-height: 110px;
}

.quote-box p::before, 
.quote-box p::after {
    content: '"';
}

.quote-box span {
    display: block;
    margin-top: 30px;
    float: right;
    position: relative;
}



.quote-box div {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quote-box button {
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px sold rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.quote-box button img {
    width: 20px;
    margin-right: 10px
}

.quote-box button:nth-child(2) {
    background: transparent;
    color: #333

}